.navbar {
  margin-bottom: 0;
}

 body {
  display: grid;
 }

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
  background: url(images/man-person-wall-music.jpg) no-repeat bottom center;
  background-size: cover;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background: rgba(225,225,225,0.4);
  padding: 2rem;
  color: white;
}
.jumbotron p{
	color: white;
	text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

@media screen and (max-width: 992px) {
  .card{
    display: inline-table;
  }
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}