html,
body{
	height: 100%;

}
img{
	max-width: 100%;
}

.carousel img{ 
	width:100%; 
}

@media screen and (max-width: 992px) {
	.img-fluid {
		height: 395px;
	}
}
/*#cover*/
#cover{
	background: #222 url('images/pexels-photo-323503.jpeg') center center no-repeat;
	background-size: cover;
	color: white;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
}
@media (min-width: 768px) {
	.img-fluid {
		height: auto;
	}
}

@media screen and (max-width: 992px) { 
	#cover{
		height: initial;
	}
}

#cover-caption{
	width: 100%;
}

.section-content{
	padding: 5rem 0;
}
#about{
	background: url(images/pexels-photo-323503.jpeg) no-repeat center center;
	background-size: cover;
}
.about-text{
	background: rgba(0,0,0,0.8);
	color: white;
	padding: 35px;
}
.pagination {
   justify-content: center;
}

#footer-main{
	background: #222;
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem;
}
